@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Kosugi+Maru&subset=cyrillic');

body {
  font-family: "Kosugi Maru", sans-serif;
}

.menu {
  width: 1300px;
  margin: 10px auto 50px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.was {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #02FFEE;
  color: black;
}

.was a:hover {
  background-color: #3DFF4D;
  text-decoration: none;
}

.was a {
  text-decoration: none;
  color: black;
}

.now {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #3DFF4D;
}

.now a:hover {
  background-color: #02FFEE;
  text-decoration: none;
}

.now a {
  text-decoration: none;
  color: black;
}

.diaryTitle {
  display: flex;
  justify-content: center;
  margin: 220px auto 10px;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  background-color: #DCE0D9;
  width: 1300px;
}

.ideaDescription {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px;
  font-weight: 300;
  letter-spacing: 1px;
  color: black;
  width: 1300px;
  font-size: 40px;
  text-align: center;
  line-height: 35px;
  background-color: #DCE0D9;
}

.ideaDescription a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.firstBlock {
  background-color: #DCE0D9;
  width: 1300px;
  margin: 0 auto 150px;
}

.month {
  display: flex;
}

h3, .october {
  margin: 100px auto 50px;
  font-size: 30px;
  width: 400px;
  text-align: center;
  background-color: #02FFEE;
}

.post {
  display: flex;
  flex-direction: column;
  width: 1300px;
  border: 1px solid black;
  margin: 10px auto 50px;
}

.date {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  background-color: #3DFF4D;
  width: 190px;
  margin: 0 auto 20px;
}

.name:hover {
  background-color: #F5FF38;
}

.photo {
  height: 600px;
  margin: 0 auto 20px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
  text-align: center;
  margin: 20px auto 20px;
  width: 900px;
  letter-spacing: 1px;
}

.sixPack {
  display: flex;
  justify-content: flex-start;
  width: 1300px;
  margin: 10px auto 20px;
}

.one, .two, .tree, .four, .five, .six {
  width: calc(100%/3);
  margin: 0 20px 20px 30px;
}

.one:hover {
  transform: scale(1.1);
  transition: 1s;
}
.two:hover {
  transform: scale(1.1);
  transition: 1s;
}
.tree:hover {
  transform: scale(1.1);
  transition: 1s;
}

.sixPack img {
  height: 300px;
  width: 100%;
  box-shadow: 1px 1px 15px 3px #ccc;
}

figcaption {
  text-align: center;
  background-color: #F5FF38;
  width: 180px;
  margin: 10px auto 20px;
}

figcaption:hover {
  background-color: #3DFF4D;
}

.sixPack a {
  text-decoration: none;
  color: black;
}
